@model IEnumerable<FinalEksamen.SponsorerTb>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container panel">
    <h2>Sponsore Liste</h2>

    <p>
        @Html.ActionLink("Create New", "Create", "", new { @class = "MyLink" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SponName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sponLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsLevelTb.SponsLevel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SponName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.sponLogo)*@
                    <img src="~/Content/SponsImg/@item.sponLogo" width="150" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SponsLevelTb.SponsLevel)
                </td>
                <td>
                    @Html.ActionLink("Rediger", "Edit", new { id = item.Id }, new { @class = "MyLink" }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                    @Html.ActionLink("Slet", "Delete", new { id = item.Id }, new { @class = "MyLink" })
                </td>
            </tr>
        }

    </table>
</div>