@model IEnumerable<FinalEksamen.SponsLevelTb>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid panel">
    <h2>SponsorersLevel Liste</h2>

    <p>
        @Html.ActionLink("Opret Ny ", "Create","", new { @class = "MyLink" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SponsLevel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SponsLevel)
                </td>
                <td>
                    @Html.ActionLink("Rediger", "Edit", new { id = item.Id }, new { @class = "MyLink" }) |
                    @*@Html.ActionLink("Detalje", "Details", new { id = item.Id }, new { @class = "MyLink" }) |*@
                    @Html.ActionLink("Slet", "Delete", new { id = item.Id }, new { @class = "MyLink" })
                </td>
            </tr>
        }

    </table>
</div>