@model FinalEksamen.UserTb

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Slet Bruger</h2>

    <h3>Er du sikker at du vil slette denne Item?</h3>
    <div>
        <h4>UserTb</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.Salt)
            </dt>*@

            @*<dd>
                @Html.DisplayFor(model => model.Salt)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.RoleTb.Role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoleTb.Role)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Slet" class="btn btn-danger" /> |
                @Html.ActionLink("Fortryd uden sletning", "Index")
            </div>
        }
    </div>
</div>